<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Coupon Finder</title>
    <!-- <link rel="stylesheet" type="css" href="css/reset.css">
    <link rel="stylesheet" type="css" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='css'> -->
    <!-- [if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> -->

</head>

<body>
  <header>
    <div class="wrapper">
        <h1>Coupon Finder<span class="color">.</span></h1>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/userlogin">Login</a></li>
                <li><a href="/couponsdash">Admin</a></li>
                
            </ul>
        </nav>
    </div>
</header>

<div id="hero-image">
  <div class="wrapper">
      <h2><strong>Coupon Finder</strong><br/>
       find your deals here.</h2>
      <a href="/userlogin" class="button-1">Get Started</a>
  </div>
</div>

<div id="features">
  <div class="wrapper">
      <ul>
          <li class="feature-1">
              <h4>Deals</h4>
              <strong> <p style="color: burlywood;">Tired of searching for low-cost coupon deals? chill we're here to help you up!Don’t pay attention to those who offer too much.Don’t pay attention to those who offer too much.</p></strong>
          </li>
          <li class="feature-2">
              <h4>Coupns</h4>
              <strong> <p style="color: burlywood;">Don’t pay attention to those who offer too much.Don’t pay attention to those who offer too much.Don’t pay attention to those who offer too much.</p></strong>
          </li>
          <li class="feature-3">
              <h4>feedback</h4>
              <strong><p style="color: burlywood;">“Feedback is a gift. Ideas are the currency of our next success. Let people see you value both feedback and ideas.Don’t pay attention to those who offer too much.”</p></strong>
          </li>
          <div class="clear"></div>
      </ul>
  </div>
</div>

<div id="primary-content">
  <div class="wrapper">
      <article>
          <h3>30,000+ stores</h3>
          <p> Whether you’re ordering pizza, picking up shoes, or booking travel, we’ll look for coupons when you shop on thousands of sites. </p>
      </article>
  </div>
</div>

<div id="secondary-content">
  <div class="wrapper">
      <article style="background-image: url('/assets/images/images/amazon.jpg');">
          <div class="overlay">
              <h4>Amazon</h4>
              <p><small>Grate deals on the Products on amazon.</small></p>
              <a href="/mycoupons" class="more-link">View more</a>
          </div>
      </article>
      <article style="background-image: url('/assets/images/images/zomato.jpg');">
          <div class="overlay">
              <h4>zomato</h4>
              <p><small>get discounts on your favorite food.</small></p>
              <a href="/mycoupons"class="more-link">View more</a>
          </div>
      </article><div class="clear"></div>
  </div>
</div>

<div id="cta">
  <div class="wrapper">
      <h3>Heard Enough?</h3>
      <p> </p>
      <a href="/usersignup" class="button-2">Get Started</a>
  </div>
</div>

<footer>
  <div class="wrapper">
      <div id="footer-info">
          <p>Copyright 2021   <strong>Coupon Finder</strong> . All rights reserved.</p>
          <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
      </div>
      <div id="footer-links">
          <ul>
              <li><h5>Company</h5></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Meet The Team</a></li>
              <li><a href="#">What We Do</a></li>
              <li><a href="#">Careers</a></li>
          </ul>
      </div>
      <div class="clear"></div>
  </div>
</footer>

</body>
</html>
